@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
    --primary: #65799A;
    --white: #f8f5f5;
    --secondary: #465c80;
    --black: #302b2b;
    --oswald: 'Oswald', sans-serif;
    --grey: rgb(126, 119, 119);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color: var(--primary);
    padding-left: 2em;
    padding-right: 2em;
    color: var(--white);
}

.navbar .logo {
    align-self: center;
    font-family: var(--oswald);
    cursor: pointer;
}

.search {
    align-self: center;
}

.search>input {
    border: none;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    height: 2.1em;
    width: 25em;
    outline: 0;
    letter-spacing: 0.5px;
}

.search>button {
    background-color: var(--secondary);
    color: var(--white);
    padding: 5px;
    width: 2em;
    height: 2.1em;
    cursor: pointer;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: 0.2s ease-in-out;
}

.search>button:hover {
    background-color: #2a3b57;
}

.card {
    margin: 5em auto;
    width: 35em;
    height: 45em;
    text-align: center;
    margin-top: 5em;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
    background-color: var(--white);
    font-family: var(--oswald);
    color: var(--black);
    letter-spacing: .5px;
    border-radius: 50px;
    transition: .5s ease-in
}

.card-top {
    text-align: left;
    color: var(--white);
    background-color: var(--primary);
    width: 100%;
    height: 10em;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-img>img {
    border: 10px solid var(--primary);
    border-radius: 50em;
    margin-top: -5em;
    background-color: var(--white);
    transition: .3s ease;
    cursor: pointer;
}

.card-img>img:hover {
    width: 200px;
    height: 200px;
}

.card-location {
    color: var(--grey);
    padding-bottom: 1em;
}

.card-title {
    font-size: 3em;
    color: var(--secondary);
    transition: .2s ease;
    cursor: pointer;
}

.card-title:hover {
    color: var(--primary);
}

.bio {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
}

.card-content {
    width: 100%;
    height: 16em;
    justify-content: center;
}

.card-content>h3 {
    margin-top: 3em;
}

.repos {
    margin-top: 1em;
}

.repos>a {
    text-decoration: none;
    color: var(--black);
    transition: .2s ease;
}

.repos>a:hover {
    color: var(--grey);
    text-decoration: underline;
}

.content-lower {
    height: 2em;
    display: flex;
    justify-content: space-between;
    padding-left: .5em;
    margin-top: 4em;
    margin-right: 1em;
}


/* Javascript related */
